@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* -----------------Header------------------------ */

.header-container {
    background-color: #BDE8DC;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 15px 40px; 
}

.principal {
    font-size: 38px;
    display: flex;
    flex-direction: column;
    line-height: 0.85;
}

.logo_Inicial {
    text-decoration: none;
    display: flex; 
    flex-direction: column;
}

.principal__destaque {
    color: #006D5B;
    margin-left: -5px;
    font-family: 'Exposição Playfair';
}

.principal__viva {
    color: #000000;
    margin-left: 20px;
    font-family: 'Exposição Playfair';
}

.nav ul {
    list-style: none;
}


.bot_login {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #006D5B;
    color: #FFFFFF; 
    text-decoration: none; 
    padding: 10px 28px; 
    border-radius: 40px;
    font-weight: bold;
}

.bot_login:hover {
    background-color: #004d40;
}

.bot_icone{
    width: 25px;
    height: 25px
}

/* ---------------------Banner Principal--------------- */

.banner_principal {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.banner_imagem {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block; 
}

/* ------------Rodapé----------------- */

.footer-container {
    background-color: #BDE8DC;
    color: #000000;
    padding: 40px 40px 20px 40px;
    margin-top: 250px;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.footer-col-info {
    max-width: 400px;
}

.footer-logo {
    font-size: 24px;
    margin-bottom: 12px;
    color: #000000;
    font-family: 'Exposição Playfair';
}

.footer-logo span {
    color: #006D5B;
    font-family: 'Exposição Playfair';}

.footer-col-info p {
    font-size: 14px;
    line-height: 1.6;
    color: #333333;
}

.footer-col-links h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #000000;
}

.footer-col-links ul {
    list-style: none;
}

.footer-col-links ul li {
    margin-bottom: 10px;
}

.footer-col-links ul li a {
    color: #006D5B;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.2s ease;
}

.footer-col-links ul li a:hover {
    color: #000000;
}

.footer-bottom {
    border-top: 1px solid rgba(0, 109, 91, 0.2); 
    margin-top: 30px;
    padding-top: 20px;
    text-align: center;
    font-size: 12px;
    color: #006D5B;
}

/* -----------------Banners chatos pá kct-------------------- */

.page-body {
    background-color: #C8D5C2;
    width: 90%;
    height: auto;
    min-height: 0;
    padding: 60px 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-top: 100px;
}

.intro-block {
    background-color: #DDEAD6; 
    border-radius: 25px;       
    padding: 35px;             
    max-width: 1050px;         
    width: 100%;               
    margin-top: 0; 
    display: flex;
    gap: 60px;
}


.intro-text {
    color: #006D5B;
    font-size: 32px;
    line-height: 1.4;
    font-family: serif;
    align-self: center;
    white-space: nowrap;
}





.banners-wrapper {
    display: flex;
    gap: 20px;
}

.banner-link {
    display: block;
    text-decoration: none;
    width: 160px;
    height: 480px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer; 
}


.banner {
    width: 100%;
    height: 100%;
    position: relative;
    
    background-size: cover;
    background-position: center;
}

.banner-label {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    transform-origin: center center;
    color: #FFFFFF;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: nowrap;
}

.banner_Aviões .banner {
    background-image: url(../Imagens/Banners/large.png);
}

.banner_Ingressos .banner {
    background-image: url(../Imagens/Banners/Ingresso.png);
}

.banner_Aluguel .banner {
    background-image: url(../Imagens/Banners/viagem-de-carro-25-dicas.png);
}

.banner_Hoteis .banner {
    background-image: url(../Imagens/Banners/type-entertainment-complex-popular-resort-with-pools-water-parks-turkey-with-more-than-5-million-visitors-year-amara-dolce-vita-luxury-hotel-resort-tekirova-kemer.png);
}





.secao_comentarios {
    display: flex;
    gap: 200px;
    background-color: #C8D5C2;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 120px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
}

.coluna_fotos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.foto_viagem {
    width: 320px;
    height: 180px;
    border-radius: 25px;
    object-fit: cover;
}

.coluna_textos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.caixa_comentario {
    background-color: #DDEAD6;
    border: 2px solid #006D5B;
    border-radius: 25px;
    padding: 20px;
    width: 350px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topo_comentario {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 8px;
}

.dados_usuario {
    display: flex;
    flex-direction: column;
}

.nome_usuario {
    color: #006D5B;
    font-size: 18px;
    font-family: serif;
}

.estrelas {
    color: #D4A373;
    font-size: 14px;
}

.texto_comentario {
    color: #111111;
    font-size: 14px;
    margin: 0;
    font-family: sans-serif;
}


/* -----------------Aba de Login-------------------- */



@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Playfair Display';
  background-color: #F0F8EC;
  min-height: 100vh;
}
 
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #BDE8DC;
  padding: 1px 32px;
  width: -10px;
}
 
.logo {
  font-weight: 900;
  line-height: 1.1;
  border-bottom: 2px solid #1a4a3a;
  padding-bottom: 4px;
}
 
.logo-rota {
  font-size: 47px;
  color: #1a6b4a; 
  font-family: 'Exposição Playfair';
}
 
.logo-viva {
  font-size: 47px;
  color: #000000;
  font-family: 'Exposição Playfair';
}
 
.login {
  display: flex;
  align-items: center;
  gap: 6px;
  background:transparent;
  border: 1.5px solid #000000;
  border-radius: 20px;
  padding: 6px 18px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
}
 
.btn-login:hover {
  background-color: transparent;
}
 

.main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 50px;
}
 

.card-login {
  background-color: #D8F2CB;
  border-radius: 20px;
  padding: 100px 48px;
  width: 100%;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
 

.card-logo {
  text-align: center;
  line-height: 1.1;
}
 
.card-logo-rota {
  font-size: 47px;
  font-weight: 900;
  color: #1a6b4a;
  font-family: 'Exposição Playfair';
}
 
.card-logo-viva {
  font-size: 47px;
  font-weight: 900;
  color: #000000;
  font-family: 'Exposição Playfair';
}
 
/* Subtítulo */
.card-subtitulo {
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  color: #006D5B;
  line-height: 1.5;
  margin-bottom: 8px;
}
 

.formulario {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}
 

.campo {
  display: flex;
  align-items: center;
  background: white;
  border: 2px solid #1a6b4a;
  border-radius: 8px;
  padding: 10px 14px;
  gap: 10px;
}
 
.campo-icone {
  font-size: 18px;
  color: #1a4a3a;
  flex-shrink: 0;   
}
 
.campo input {
  border: none;
  outline: none;
  background: transparent;
  font-size: 15px;
  color: #333;
  width: 100%;
}
 
.campo input::placeholder {
  color: #888;
}
 

.link-esqueci {
  font-size: 12px;
  color: #000000;
  text-decoration: underline;
  margin-top: -6px;
  align-self: flex-start;
}
 
.link-esqueci:hover {
  color: #000000;
}
 
.btn-entrar {
  background-color: #1a6b4a;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  width: 60%;
  align-self: center;
  margin-top: 16px;
  font-family: 'Playfair Display';
}
 
.btn-entrar:hover {
  background-color: #145a3c;
}







.container_sobre {
    width: 90%;
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.bloco_apresentacao {
    background-color: #f1f8f6;
    padding: 40px;
    border-radius: 25px;
    max-width: 800px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.titulo_sobre {
    color: #006D5B;
    font-family: serif;
    font-size: 32px;
    margin-bottom: 20px;
    text-align: center;
    border-bottom: 3px solid #006D5B; /* Cria uma linha embaixo */
    padding-bottom: 10px;
    display: inline-block; /* Faz a linha ter o tamanho exato do texto */
}

.texto_sobre {
    color: #333333;
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.secao_diferenciais {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.caixa_diferencial {
    background-color: #C3E6DC;
    border: 2px solid #006D5B;
    border-radius: 25px;
    padding: 25px;
    width: 240px;
    text-align: center;
}

.icone_diferencial {
    font-size: 36px;
    display: block;
    margin-bottom: 10px;
}

.subtitulo_diferencial {
    color: #006D5B;
    font-family: serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.descricao_diferencial {
    color: #111111;
    font-family: sans-serif;
    font-size: 14px;
    line-height: 1.4;
}

.foto_icone {
    width: 50px;       /* Tamanho perfeito para um ícone discreto e elegante */
    height: 50px;      /* Altura igual para ficar quadradinho */
    object-fit: contain; /* Garante que o ícone não amasse, independente do formato */
    margin-bottom: 15px; /* Empurra o título um pouquinho para baixo */
}